{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock  %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock  %}

{% block content %}
<header id='main-navigation'>
    <h1><a href="">Maurice Blog</a></h1>
    <nav>    
      <li><a href="">All post</a></li>       
    </nav>
</header>
<section id='welcome'>
    <header>
    <img src="" alt="Maurice -  The Author Of This Blog">
    <h2>MAURICE'S BLOG</h2>
    </header>
    <p>
        Welcome to my blog. I am Maurice, the author of this blog. I am a software developer and I love to write about my experiences in the tech world. I hope you enjoy reading my posts.
</section>

<section id='latest-posts'>
    <h2>My Latest Thoughts</h2>

    <ul>
        <li>
            <article class='post'>
                <a href="">
                    <img src="" alt="Mountain Hiking">
                    <div class='post__content'>
                        <h3>Mountain Hiking</h3>
                        <p>
                            There's nothing like the views you get when 
                             you are hiking up a mountain. I love the 
                              outdoors and I love to hike. I have hiked 
                               up many mountains and I have seen some 
                                amazing views. I hope you enjoy reading 
                                 about my experiences.
                        </p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>

<section id='about'>
    <h2>What I Do</h2>   
    <p>
        I am a software developer and I love to write about my experiences in the tech world. I hope you enjoy reading my posts. 
</section>
<p>
    My goal is to keep you growing and learning. I hope you enjoy reading my posts.
</p>
{% endblock  %}